
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding :0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;



}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  line-height: 1.5;
  font-weight: 700;
  color: #707070;
  margin: 0;
  padding: 0;
  font-family: 'Bubblegum Sans', cursive;
}
.f-13{
  font-size: 13px;
}
.f-18{
  font-size: 1px;
}
.f-26{
  font-size: 26px;
}
.f-36{
  font-size: 36px;
}
.f-45{
  font-size: 45px;
}
.f-60{
  font-size: 60px;
}

p{
  font-size: 16px;
  color: #707070;
  line-height: 24px;
}
.p-100{
  padding: 100px;
}
.text-red{
color: #E84B3A !important;
}
.text-yellow{
  color:#FFC81F !important ;
}
.text-orange{
  color:#FC800D  !important;
}
.text-purple{
  color:#92278F !important ;
}
.text-lightblue{
  color: #14B7F1 !important;
}
.text-pink{
  color: #EE257C !important;
}
.text-green{
  color:#8DC63F  !important;
}
.text-brown{
  color: #A40202 !important;
}
.text-darkblue{
  color:#008B98

}
.text-green{
    color: #88C87B;
}
.text-carot{
  color: #FA6F57;
}
.bg-red{
  background-color: #E84B3A !important;
  }
  .bg-yellow{
    background-color:#FFC81F !important ;
  }
  .bg-orange{
    background-color:#FC800D !important ;
  }
  .bg-purple{
    background-color:#92278F !important ;
  }
  .bg-lightblue{
    background-color: #14B7F1 !important;
  }
  .bg-pink{
    background-color: #EE257C !important;
  }
  .bg-green{
    background-color:#8DC63F !important ;
  } 
  .bg-brown{
    background-color: #A40202 !important;
  }
  .bg-blue{
    background-color: #365899;
  }
  .bg-darkblue{
    background-color:#008B98

  }
  .bg-yellow{
    background-color: 2px solid #FFC000;
    }
    .bg-red{
    background-color: 2px solid #a40202;
    }
    .bg-orange{
    background-color: 2px solid #FC7F0C;
    }
    .bg-green{
      background-color:  #88C87B
    };
    .bg-carot{
      background-color: #FA6F57;
    }
    
    /* AllBanneer  */
    .Allbanner{
     
      background:linear-gradient(rgba(14, 135, 234, 0.8),rgba(14, 135, 234,0.8)), url('/public/image/page-header-bg.jpg');
      background-size: cover;
      background-position: center;
     
      border: none;
     height: auto;
     position: relative;
     text-align: center;
     color: white;
     
     
     
      
    }